.container
  %ul
    - task.errors.full_messages.each do |message|
      %li= message
  .new-card
    New Card
  = form_with(model: task, local: true) do |f|
    %div
      = f.label :title, 'Name',class: 'name'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :deadline, 'Deadline'
    %div
      = f.date_field :deadline, class: 'text'
    %div
      = f.label :content, 'Description', class: 'description'
    %div
      = f.text_area :content
    = f.submit 'Submit', class: 'btn-primary'
