= link_to task_path(task) do
  .card
    .card_mark
      = image_tag 'IMG_7500.jpg'
    .card_title
      = task.title
    .card_content
      = task.content
    .card_detail
      = image_tag 'IMG_7500.jpg'